@model IEnumerable<SalesWebMvc.Models.Seller>

@{
    ViewData["Title"] = "Vendedores";
}

@section ExtraStyles {
    <link rel="stylesheet" href="~/css/departmentsAndSellers.css" />
}

<div>
    <h2 class="title-white centered-title">@ViewData["Title"]</h2>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Data de Nasc.</th>
                    <th>Salário Base</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a href="mailto:@item.Email" class="text-info text-decoration-none">
                                @item.Email
                            </a>
                        </td>
                        <td>@item.BirthDate.ToString("dd/MM/yyyy")</td>
                        <td>R$ @item.BaseSalary.ToString("N2")</td>
                        <td class="action-icons">
                            <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/editar.svg" alt="Editar" width="25px" /></a>
                            <a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/detalhes.png" alt="Detalhes" width="25px" /></a>
                            <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/deletar.png" alt="Deletar" width="25px" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="centered-button">
        <a asp-action="Create" class="btn-primary">Criar Novo</a>
    </div>
</div>